<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @outline.image.url(:medium) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @outline.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @outline.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@outline.price) %>
</p>

<%= link_to 'Edit', edit_outline_path(@outline) %> |
<%= link_to 'Back', outlines_path %>
