<center><h1>Community Outlines</h1></center>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outlines.each do |outline| %>
      <tr>
        <td><%= image_tag outline.image.url(:thumb) %></td>
        <td><%= outline.name %></td>
        <td><%= outline.description %></td>
        <td><%= number_to_currency(outline.price) %></td>
        <td><%= link_to 'Show', outline, class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_outline_path(outline), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', outline, class: "btn btn-link", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dashboard', dashboard_index_path, class: "btn btn-link" %>
