<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>TopOutlines</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <%= render 'layouts/header' %>
<div class="container">

  <%= yield %>
<<<<<<< HEAD
</div>
<center><% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% end %>
</center>
=======
</div >

<div class="footer">

>>>>>>> 56597fb4a47e6cf4093fb16dbc4a64dbf5e6c4d4
  <p>Copyright 2015</p>
</div>

</body>
</html>
